section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  scroll-snap-align: start;
}

.text-container {
  max-width: 1000px;
}

#dear-govt-2,
#dear-govt-3,
.closing {
  overflow: hidden;
  white-space: nowrap;
}

.law-container h4 {
  text-align: center;
}

.law-container img {
  margin-bottom: 1rem;
  aspect-ratio: auto 358 / 262;
}
